.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 30px;
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}
