@font-face {
    font-family: "IBM VGA";
    src: url("@/assets/fonts/Px437_IBM_VGA_8x16.ttf");
}

:root {
    --primary-color:   #191326;
    --secondary-color: #5e4182;
    --tertiary-color:  #7e4182;

    --link-hover-color: mix( #7e4182, white, 40% );

    --font: "IBM VGA",monospace;
}

