$primary_color:   #412c4c;
$secondary_color: #b681b1;
$tertiary_color:  #fbd3f7;

@font-face {
    font-family: "IBM VGA";
    src: url("@/assets/Px437_IBM_VGA_8x16.ttf");
}

body {
    background-color: $primary_color;
    margin: 0 50px;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
